{% extends 'base.html.twig' %}
{% form_theme registrationForm _self %}

{% block title %}Register{% endblock %}

{% block stylesheets %}

 {{parent()}}

 <link rel='stylesheet' href="{{ asset('css/login.css')}}"    
{% endblock %}


{%- block form_row -%}

    {%- set widget_attr = {} -%}

    {%- if help is not empty -%}

        {%- set widget_attr = {attr:{'aria-describedby': id ~"_help"}} -%}

    {%- endif -%}

   

    {{- form_label(form, null, {
        label_attr:{ class:'sr-only'}
    }) -}}  
    {{- form_errors(form) -}} 
    {{- form_widget(form, widget_attr) -}}   
    {{- form_help(form) -}}     


{%- endblock form_row -%}




{% block body %}
    {# <div class="w-4/5 m-auto text-center">
        <div class="py-12 border-b border-gray-200"> #}
            

            {{ form_start(registrationForm, {'attr': {'class': 'form-signin'}}) }}
                <h1 class="h3 mb-3 font-weight-normal">
                Register
            </h1>

                  
           
            
                    {{ form_row(registrationForm.email, {'attr': {'class': 'form-input'}}) }}
          
                    {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-input'}}) }}
               
                
                    {{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'ml-0'}}) }}
               
           
    
            
                <!-- CSRF Token -->
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            
                <button 
                    type="submit" 
                    class="btn btn-info my-2 my-sm-0 ">
                    Register
                </button>

                
            
            {{ form_end(registrationForm) }}

        {# </div> #}
    {# </div> #}
{% endblock %}





