{% extends 'content_base.html.twig' %}

{% block content_body %}

  <a href="{{ path('admin_comment_new') }}" class="btn btn-primary pull-right">
        Create <span class="fa fa-plus-circle"></span>
    </a>
    <h1>All Comments</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
              <th>Author</th> 
                <th>Published?</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments %}
                <tr>
                    <td>{{ comment.name }}</td>
                   <td>{{ comment.author}}</td> 
                    <td>
                        <span class="fa fa-{{ comment.isCommented ? 'check' : 'times' }}"></span>
                    </td>
                    <td>
                     <a href="{{ path('admin_comment_edit', {
                                id: comment.id
                        }) }}"> 
                         <span class='fa fa-pencil'></span>
                    </a>
                    </td>
                    <td>
                    <!-- {{ path('admin_comment_edit', {
                                id: comment.id
                        }) }} !-->
                     <a href="#">  
                         <span class='fa fa-trash text-danger'></span>
                    </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



{% endblock %}